<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link href="style.css" rel="stylesheet"/>
</head>
<body>

<div ng-app="twoTable" ng-controller="TwoTableController" id="main">

    <div>
        <button ng-click="loadData()" >Load</button>
        <button ng-click="moveData()" ng-show="hasChecked()">Move</button>
        <button ng-click="deleteData()" ng-show="hasChecked()">Delete</button>
        <button ng-click="saveTable2Data()" ng-hide="isSavedAllTable2Items">Save Table2 Data</button>
    </div>

    <div class="div1">
        <h1>Table 1</h1>
        <table>
            <tr my-element checkboxes="1" ng-repeat="item in rowItems"></tr>
        </table>
    </div>
    <div class="div2">
        <h1>Table 2</h1>
        <table>
            <tr my-element checkboxes="0" ng-repeat="item in movedItems"></tr>
        </table>
    </div>

    <pre-loader show-loader="is_preloader"></pre-loader>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="/src/scripts.js"></script>

</body>
</html>